@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: initial;
}

.navbar {
    height: 10.5em;
    background: black;
}

.landing-page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F4BC33;
}

@media only screen and (max-width: 540px) {
    .landing-page-content {
        display: flex;
        flex-direction: column;
    }
}

.word-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 6.93em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 54px;
}

.word-wrapper form {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-top: 8.75em;
    width: 18.5em;
    height: 3.43em;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btn:hover {
    background: black;
    color: #F4BC33;
    border: 2px solid white;
}

@media only screen and (max-width: 540px) {
    .btn {
        margin-top: 6em;
        margin-bottom: 2em;
    }
}

#about {
    background: black;
    color: white;
    text-align: center;
    padding-top: 2.68em;
    padding-bottom: 8.31em;
}

#about h2 {
    color: #F4BC33;
}

#about img {
    margin: 5.18em 0;
}

#about p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 8.75em;
}

@media only screen and (max-width: 540px) {
    #about p {
        margin: 0 3em;
    }
}

#price-and-plans {
    background: #F4BC33;
    text-align: center;
}

.heading {
    background: black;
    color: white;
    padding: 4.5em 0;
}

.heading h2 {
    color: #F4BC33;
    margin-bottom: 0.5em;
}

.price-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3.31em;
    padding: 4.3em 11.93em;
}

@media only screen and (max-width: 540px) {
    .price-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        padding: 4.3em;
    }
}

.price-card {
    background: white;
    padding-top: 0.75em;
    padding-bottom: 5.06em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.price-card h2 {
    font-size: 40px;
    font-weight: 800;
    color: #F4BC33;
    margin-bottom: 2.18em;
}

@media only screen and (max-width: 540px) {
    .price-card h2 {
        margin-bottom: 2em;
    }
}

.price {
    font-size: 40px;
    font-weight: 800;
}

.per-month {
    margin-top: -1em;
    margin-bottom: 1em;
}

#testimonial {
    text-align: center;
    padding: 3.25em 0;
}

.testimonial-content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2.25em;
    margin-left: 2.56em;
    margin-right: 2.56em;
    grid-gap: 2.25em;
    font-size: 28px;
}

@media only screen and (max-width: 540px) {
    .testimonial-content {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin-left: 1.3em;
        margin-right: 1.3em;
}
}

.testimonial-content p {
    text-align: left;
}

.card-img {
    margin-top: 5.43em;
    background: #F4BC33;
    width: 12.75em;
    height: 10.75em;
    border-radius: 8px;
    margin-bottom: 2.37em;
}

.card-img img {
    margin-top: -3.43em;
}

@media only screen and (max-width: 540px) {
    .card-img {
        width: 12.75em;
        height: 7.75em;
    }
    .card-img img {
        margin-top: -3.43em;
    }
}


.card-img h2 {
    margin-top: 1.5em;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    padding-left: 1.68em;
}

@media only screen and (max-width: 540px) {
    .card-img h2 {
        margin-top: 0.5em;
    }
}

.card-img p {
    padding-top: 1.43em;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    padding-left: 1.68em;
}

@media only screen and (max-width: 540px) {
    .card-img p {
        padding-top: 0.43em;
    }
}

#contact {
    background: #F4BC33;
}

.contact-container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 540px) {
    .contact-container {
        display: flex;
        flex-direction: column;
    }
}

.contact-word-wrapper {
    padding-top: 3.5em;
}

.contact-word-wrapper h2 {
    margin-left: 4.87em;
    margin-bottom: 3.12em;
}

@media only screen and (max-width: 540px) {
    .contact-word-wrapper h2 {
        margin-left: 1.87em;
        margin-bottom: 1.12em;
    }
}

.contact-word-wrapper p {
    margin-left: 9.62em;
    padding-top: 1.87em;
}

@media only screen and (max-width: 540px) {
    .contact-word-wrapper p {
        margin-left: 1.62em;
    }
}

.icon-wrapper {
    margin-top: 6.31em;
    margin-left: 6.81em;
}

@media only screen and (max-width: 540px) {
    .icon-wrapper {
        margin-bottom: 6.31em;
    }
}

.icon-wrapper img {
    padding-left: 1.18em;
}