@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.navbar {
    height: 168px;
    background: black;
}

.landing-page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F4BC33;
}

.word-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 111px;
    margin-left: 24px;
    margin-right: 24px;
}

h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 54px;
}

.btn {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 296px;
    height: 55px;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover {
    background: black;
    color: #F4BC33;
    border: 2px solid white;
}

#about {
    background: black;
    color: white;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 133px;
}

#about h2 {
    color: #F4BC33;
}

#about img {
    margin: 83px 0;
}

#about p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 140px;
}

#price-and-plans {
    background: #F4BC33;
    text-align: center;
}

.heading {
    background: black;
    color: white;
    padding: 70px 0;
}

.heading h2 {
    color: #F4BC33;
    margin-bottom: 8px;
}

.price-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 53px;
    padding: 70px 191px;
}

.price-card {
    background: white;
    padding-top: 12px;
    padding-bottom: 81px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.price-card h2 {
    font-size: 40px;
    font-weight: 800;
    color: #F4BC33;
    margin-bottom: 67px;
}

.price {
    font-size: 40px;
    font-weight: 800;
}

.per-month {
    margin-top: -16px;
    margin-bottom: 16px;
}

#testimonial {
    text-align: center;
    padding: 52px 0;
}

.testimonial-content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 52px;
    margin-left: 121px;
    margin-right: 121px;
    grid-gap: 52px;
    font-size: 28px;
}

.testimonial-content p {
    text-align: left;
}

.card-img {
    margin-top: 87px;
    background: #F4BC33;
    width: 332px;
    height: 220px;
    border-radius: 8px;
    margin-bottom: 38px;
}

.card-img img {
    margin-top: -87px;
}

.card-img h2 {
    margin-top: 40px;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    padding-left: 27px;
}

.card-img p {
    position: relative;
    bottom: 87px;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    padding-left: 27px;
}